body {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
}

.navbar {
    background-color:rgb(245, 202, 186);
    width: 400px;
    margin: 0 auto;
    padding: 8px 16px;
}