body {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.title {
    text-align: center;
}

.navbar{
    background-color:rgb(245, 202, 186);
    width: 600px;
    margin: 20px auto;
}

nav{
    display: flex;
    justify-content:space-around;
}

.navbar{
    padding: 8px 16px;
}



.container{
    background-color: rgb(189, 191, 192);
    padding:16px;
}

.image-description-container, .ingredients-container {
    background-color: rgb(220, 221, 223);
    padding: 8px;
    margin-bottom: 20px;
}

.image-description-container p{
    font-size: small;
    line-height: 0.6;
}

.image-container {
   width: auto;
   height: auto;
   overflow: hidden;
}

img{
    width: 1293px;
    height: 300px;
    object-fit: cover;
}

