body {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.title {
    text-align: center;
}

.navbar, a {
    background-color:rgb(245, 202, 186);
    width: 500px;
    margin: 0 auto;
    padding: 8px 16px;
    text-decoration: none;
}

.container {
    background-color: rgb(220, 221, 223);
}